# OSX metadata files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.DocumentRevisions-V100
.fseventsd
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
Thumbs.db
# Logs
logs
*.log
